{% extends "base.html" %} {% load static %}
{% block fullwidth %}
<div class="clearfix row align-items-center">
<div class="col-lg-5 col-md-5 col-12 col-sm-12 col-xs-12 leftpadding-lg nomargin d-sm-padding">
        <div class="heading-block">
            <h1>Time to <strong>Represent</strong></h1>
            <span>Because 20% is not enough</span>
        </div>
        <a href="#" class="button button-3d button-large">Join Us</a>
</div>
<div class="col-lg-7 col-md-7 col-xs-12 nomargin d-none d-sm-none d-md-block">
    <div id="portfolio" class="portfolio grid-container portfolio-3 portfolio-full portfolio-nomargin portfolio-notitle clearfix">
    {% for can in candidate %}
      <article class="portfolio-item pf-media pf-icons">
        <div class="portfolio-image">
            <a href="{{can.get_absolute_url}}">
                <img src="{{can.image_url}}" alt="{{can.name}} Headshot">
            </a>
          <div class="portfolio-overlay">
            <a href="{{can.get_absolute_url}}" class="center-icon"><i class="icon-line-link"></i></a>
          </div>
        </div>
        <div class="portfolio-desc">
          <h3><a href="{{can.get_absolute_url}}">{{can.first_name}} {{can.last_name}}</a></h3>
          <a href="{% url 'candidate:state' can.state|lower %}">{{can.state}}</a>{% if can.office and can.state %}<span class="middot">·</span>{% endif %}<a href="#">{{can.office}}</a>
        </div>
      </article>
    {% endfor %}
</div>
</div>
</div>
<section class="topmargin-lg bottommargin-lg">
    <div class="container clearfix">

        <div class="heading-block center">
            <h3>Get <span>Involved</span></h3>
        </div>

        <div class="">
            <form action="{% url 'mailchimp' %}" role="form" method="post" class="nobottommargin">
              {% csrf_token %}
                <div class="input-group input-group-lg divcenter" style="max-width:600px;">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="icon-user"></i></div>
                    </div>
                    <input type="text" name="first" class="form-control required" placeholder="First Name">
                </div>
                <div class="input-group input-group-lg divcenter" style="max-width:600px;  margin-top:15px">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="icon-user2"></i></div>
                    </div>
                    <input type="text" name="last" class="form-control required" placeholder="Last Name">
                </div>
                <div class="input-group input-group-lg divcenter" style="max-width:600px; margin-top:15px">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="icon-email2"></i></div>
                    </div>
                    <input type="email" name="email" class="form-control required email" placeholder="Email" required>
                    <div class="input-group-append">
                        <button type="submit" class="button nomargin button-reveal button-large button-pink tright button-full"><i class="icon-angle-right"></i><span>Join Us</span></button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</section>
<div class="section">
  <div class="container clearfix topmargin-lg bottommargin-lg">
    <div class="col-12">
      <div class="center front-page">
        <h1>All <span>Women</span>.</h1>
        <h1>All <span>Political</span> Parties,</h1>
        <h1><span>Issues</span> &amp; <span>Resources</span>.</h1>
        <h1>One <span>Place</span>.</h1>
      </div>
    </div>
  </div>
</div>
<div class="container clearfix topmargin-lg bottommargin-lg">
  <div class="col_one_fourth nobottommargin">
    <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
      <div class="fbox-icon">
        <a href="#"><i class="i-alt noborder icon-dollar"></i></a>
      </div>
      <h3>For Voters<span class="subtitle">Increase the power of women<br><br>Support individual candidates with your donation.</span></h3>
    </div>
  </div>
  <div class="col_one_fourth nobottommargin">
    <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
      <div class="fbox-icon">
        <a href="#"><i class="i-alt noborder icon-wallet"></i></a>
      </div>
      <h3>Knowledgebase<span class="subtitle">Empower potential candidates<br><br> Access to many organizations that can help your campaign succeed.</span></h3>
    </div>
  </div>
  <div class="col_one_fourth nobottommargin">
    <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
      <div class="fbox-icon">
        <a href="#"><i class="i-alt noborder icon-filter"></i></a>
      </div>
     <h3>Custom Reports<span class="subtitle">Information about candidates<br><br><br>A must for political consultants and other supporting organizations</span></h3>
    </div>
  </div>
  <div class="col_one_fourth nobottommargin col_last">
    <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
      <div class="fbox-icon">
        <a href="#"><i class="i-alt noborder icon-megaphone"></i></a>
      </div>
      <h3>For Campaigns<span class="subtitle">Increase your presence<br><br><br>Build your page with compelling information about your candidate.</span></h3>
    </div>
  </div>
  <div class="clear"></div>
  <div class="line bottommargin-lg"></div>
  <div class="col_two_fifth nobottommargin">
      <img src="{% static 'images/march.jpg' %}" alt="Women's March">
  </div>
  <div class="col_three_fifth nobottommargin col_last">
    <div class="heading-block">
      <h2>Women Supported</h2>
    </div>
    <p>We support the goal of having equal representation in our highest offices of government.</p>
    <p><strong>Political Sisterhood</strong> provides access to non-partisan information on every registered women candidate for the upcoming elections. Every person who identifies as a women, regardless of political affiliation.</p>
  </div>
  <div class="clear"></div>
</div>

{% endblock %}
