{% extends 'base.html' %}
{% load static i18n compress %}

{% block seo_title %}
Candidate Reports - Political Sisterhood
{% endblock %}

{% block content %}
<section id="page-title" class="page-title page-title-nobg">
  <div class="container clearfix">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Candidate Reports</li>
    </ol>
  </div>
</section>

<section class="themebg"></section>
<section class="topmargin-lg bottommargin-lg" style="">
  <div class="container-fluid center clearfix">
    <div class="heading-block">
      <h1>Candidate Reports</h1>
      <span>Over {{candidate}} registered women candidates for Federal and State legislative branches for the United
States.</span>
      <div class="clear"></div>
    </div>
    <div class="col_one_third nobottommargin bounceIn animated" data-animate="bounceIn">
      <div class="counter counter-large counter-lined"><span data-from="0" data-to="50" data-refresh-interval="20" data-speed="2000">{{STATES}}</span></div>
      <h5>States</h5>
    </div>
    <div class="col_one_third nobottommargin bounceIn animated" data-animate="bounceIn" data-delay="200">
      <div class="counter counter-large counter-lined"><span data-from="0" data-to="{{CANDIDATE}}" data-refresh-interval="10" data-speed="2000">{{CANDIDATE}}</span></div>
      <h5>Women Candidates</h5>
    </div>
    <div class="col_one_third col_last nobottommargin bounceIn animated" data-animate="bounceIn" data-delay="400">
      <div class="counter counter-large counter-lined"><span data-from="0" data-to="{{RACES}}" data-refresh-interval="13" data-speed="3000">{{RACES}}</span></div>
      <h5>Open Seats</h5>
    </div>
  </div>
</section>
<section class="toppadding-lg bottompadding-sm bottommargin-lg report-about" style="">
  <div class="container center clearfix">
    <div class="row">
      <div class="col-sm-12 center bottompadding-sm">
          <h3>Our candidate portal allows you to search for and find any registered woman candidate.</h3>
        </div>
      <div class="col_one_third">
        <h5>Ability to search by:</h5>
        <p>
          <i class="icon-circle-blank"></i>  Last Name</br>
          <i class="icon-circle-blank"></i>  National or State elections </br>
          <i class="icon-circle-blank"></i>  Political Party based search</br>
          <i class="icon-circle-blank"></i>  Issue based search</br>
          <i class="icon-circle-blank"></i>  Education based search
        </p>
      </div>
      <div class="col_one_third"></div>
      <div class="col_one_third col_last">
        <h5>Our portal includes:</h5>
        <p>
          <i class="icon-circle-blank"></i>  individual candidate summaries</br>
          <i class="icon-circle-blank"></i>  campaign summaries</br>
          <i class="icon-circle-blank"></i>  social media connections</br>
          <i class="icon-circle-blank"></i>  education and background</br>
          <i class="icon-circle-blank"></i>  Candidates stance on the issues
        </p>
      </div>
    </div>
  </div>
</section>

<section id="content">
    <div class="container clearfix toppadding-sm bottompadding-sm">
        <div class="jsmaps-wrappe center" id="usa-map"></div>
    </div>
</section>
<span id="search"></span>
{% include 'search/search_section.html' %}
{% endblock content %}
{% block extra_js %}
<link href="{% static 'maps/jsmaps.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'maps/jsmaps-libs.js' %}" type="text/javascript"></script>
<script src="{% static 'maps/jsmaps-panzoom.js' %}"></script>
<script src="{% static 'maps/jsmaps.min.js' %}" type="text/javascript"></script>
<script src="{% static 'maps/usa.js' %}" type="text/javascript"></script>
<script type="text/javascript">
$(function() {

  $('#usa-map').JSMaps({
    map: 'usa',
    onStateClick: function(data) {
      $('#id_state').val(data.abbreviation); // Select the option with the abbr
      $('#id_state').trigger('change'); // Notify any JS components that the value changed

    }
  });

});

</script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript">
$('#id_party').select2({
  placeholder: 'Select a political party',
  width: '100%',
});
$('#id_college').select2({
  placeholder: 'Select an institution',
  width: '100%',
});
$('#id_state').select2({
  placeholder: 'Select a state',
  width: '100%',
});
$('#id_issues').select2({
  placeholder: 'Select an issue',
  width: '100%',
});
$('#id_issues, #id_state, #id_college, #id_party, #id_q').change(function(){
    $('#search_form').submit();
});
</script>
<script>
    var hash = window.location.hash
    if (hash === "#search") {
      $('html,body').animate({
        scrollTop: $("#search").position().top + 470
    }, 2000);
    }
</script>
{% endblock %}
