{% extends "base.html" %}
{% load crispy_forms_tags static %}

{% block title %}Create New Candidate{% endblock %}

{% block content %}
<style>
.django-ckeditor-widget {
    display: block !important;
}
.cke {width: 100% !important}
</style>
<section id="page-title" class="page-title-mini page-title-nobg">
  <div class="container clearfix">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'candidate:all' %}">Candidate Reports</a></li>
      {% block breadcrumbs %}
      <li class="breadcrumb-item active" aria-current="page">Create a New Candidate</li>
      {% endblock %}
    </ol>
  </div>
</section>
<section class="themebg"></section>
<section id="content" style="margin-bottom: 0px;">
  <div class="container clear-bottommargin clearfix topmargin-sm bottommargin-sm">
        {% block hello %}
        <p>The Political Sisterhood registry is free to candidates who meet the eligibility requirements listed below:
            <ul>
              <li>Officially registered (must providing filing information) for political elections in the United States.
              For 2018, this includes the U.S. and individual State congressional elections, and the Governor races.</li>
              <li>Identify as a woman</li>
            </ul>
        Adding candidate information to our national registry will automatically increase the visibility and support of your campaign. Candidates
        will remain on the registry until November 7th, 2018 unless no longer an active candidate. Election winners will remain in the Registry.<br><br>
        Please complete the form and submit for review and approval. Once approved, we will notify you and your page has been added to the Registry and appears on the website. </p>
        {% endblock %}
        {{form.error}}
        <form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {% block hidden_fields %}
        <input type="hidden" value="{{referral}}" name="ref" id="ref">
        {% endblock %}
        {% crispy form %}

        <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
        {{form.media}}
      </form>
    </div>
</section>
{% endblock %}
