{% extends "base.html" %}
{% load crispy_forms_tags static %}

{% block title %}Create New Candidate{% endblock %}

{% block content %}
<style>
.django-ckeditor-widget {
    display: block !important;
}
.cke {width: 100% !important}
</style>
<section id="page-title" class="page-title-mini page-title-nobg">
  <div class="container clearfix">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'candidate:all' %}">Candidate Reports</a></li>
      {% block breadcrumbs %}
      <li class="breadcrumb-item active" aria-current="page">Create a New Candidate</li>
      {% endblock %}
    </ol>
  </div>
</section>
<section class="themebg"></section>
<section id="content" style="margin-bottom: 0px;">
  <div class="container clear-bottommargin clearfix topmargin-sm bottommargin-sm">
        {% block hello %}
        {% endblock %}
        {{form.error}}
      <form class="form-horizontal" method="post" action="">
        {% csrf_token %}
        {% block hidden_fields %}
        <input type="hidden" value="{{referral}}" name="ref" id="ref">
        {% endblock %}
        {% crispy form %}

        <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
        {{form.media}}
      </form>
    </div>
</section>
{% endblock %}
