{% extends 'base.html' %}
{% load }
{% block seo_title %}
{{object.name}} - Political Sisterhood
{% endblock %}
{% block modal %}
<style>
.scw-switcher-wrap{
  top: 200px;
  left: 32px;
  padding: 23px;
  width: 0;
  height: 0;
  border: 1px solid #c39;
  border-radius: 3px;
  box-shadow: 0 13px 42px 11px rgba(0,0,0,.05);
  z-index: 9999;
  overflow: hidden;
  -webkit-transition: all .45s ease;
  -o-transition: all .45s ease;
  transition: all .45s ease;
    position: fixed;
  background-color: #c39;
}
.scw-trigger-icon {
  width: 44px;
  height: 44px;
  top: 201px;
  left: 34px;
  border: 0;
  padding: 0;
  text-align: center;
  z-index: 5;
  cursor: pointer;
  position: fixed;
  background-color: #C39;
}
.scw-trigger-icon i {
  color: #fff;
  font-size: 18px;
}
</style>
<div class="scw-switcher-wrap">
  <button class="scw-trigger-icon scw-trigger" data-toggle="modal" data-target=".question-modal">
    <i class="icon-question"></i>
</button>
</div>
<div class="modal fade question-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-body">
<div class="modal-content">
<div class="modal-header">
<h4 class="modal-title" id="myModalLabel">Issue with {{object.name}}'s' Page</h4>
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-body">
<p>Thanks for noting that there is something wrong with {{object.name}}'s page.</p>
<p>Please fill out the form below so that we can make the appropriate updates.</p>
<form method="post" method="post" action="{% url 'candidate:issue' %}">
  {% csrf_token %}
<div class="form-group">
<label for="exampleFormControlInput1">Your Name</label>
<input type="text" class="form-control required" name="name" placeholder="Christopher Mallon" required>
</div>
<div class="form-group">
<label for="exampleFormControlInput1">Your Email address</label>
<input type="email" class="form-control required" name="email" placeholder="name@example.com" required>
</div>
<div class="form-group">
<label for="exampleFormControlSelect1">Issue/Problem Type</label>
<select class="form-control required" name="issue" required>
<option disabled selected value>-- Please Specify --</option>
<option>Update on Candidate</option>
<option>No Longer Running</option>
<option>Data Appears Incorrect</option>
<option>Other</option>
</select>
</div>
<div class="form-group">
<label for="exampleFormControlTextarea1">Other Information (optional)</label>
<textarea class="form-control" name="other" rows="3"></textarea>
<input type="hidden" name="candidate" value="{{object.name}}">
<input type="hidden" name="return" value="{{object.get_absolute_url}}">
</div>
<button type="submit" class="button button-3d button-large button-brand nomargin white-font">Submit Issue</button>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
{% block content %}

<section id="page-title" class="page-title-mini page-title-nobg">
  <div class="container clearfix">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'candidate:state' object.state.lower %}">{{object.get_state_display}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{object.name}}</li>
    </ol>
  </div>
</section>
<section class="themebg"></section>
<section id="content" style="margin-bottom: 0px;">
  <div class="container clear-bottommargin clearfix toppadding-sm bottompadding-sm">
    <div class="heading-block center">
      <h2 class="normal-case">{{object.name}}</h2>
      <span>{% if object.current_office %}{{object.current_office}}, {% endif %}{{object.get_state_display}}</span>
      <h4>{{object.identifier}}</h4>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 center bottommargin">
        {% if object.image_url %}
        <img data-animate="fadeInLeftBig" src="{{object.image_url}}" alt="{{object.name}} Headshot" class="center-block fadeInLeftBig animated img-border">
        {% if object.image_attribution %}
        <div>
        <small>{{object.image_attribution|safe}}</small>
        </div>
        {% endif %}
        {% endif %}
        <div>
            <span class="updated">Last Updated: {{object.updated|date:"m/d/y"}}</span>
        </div>
        {% if object.follow %}
        <div class="row topmargin-sm center">
          {% if object.facebook %}
          <div class="col-4">
          <a href="{{object.facebook}}" class="social-icon si-rounded si-facebook divcenter">
              <i class="icon-facebook"></i>
              <i class="icon-facebook"></i>
          </a>
          </div>
          {% endif %}
          {% if object.twitter %}
          <div class="col-4">
          <a href="{{object.twitter}}" class="social-icon si-rounded si-twitter divcenter">
              <i class="icon-twitter"></i>
              <i class="icon-twitter"></i>
          </a>
          </div>
          {% endif %}
          {% if object.linkedin %}
          <div class="col-4">
          <a href="{{object.linkedin}}" class="social-icon si-rounded si-linkedin divcenter">
              <i class="icon-linkedin"></i>
              <i class="icon-linkedin"></i>
          </a>
        </div>
          {% endif %}
        </div>
        {% endif %}
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 bottommargin">
        {{object.bio|safe}}
        <div>
          <div class="heading-block bottommargin-sm">
            <h4>Candidate's <span>Info</span></h4>
          </div>
            <strong>Facebook</strong> <span class="theme-color">&mdash;</span> {% if object.facebook %}<a href="{{object.facebook}}" target="_blank">{% endif %}{{object.facebook|default:"Not Found&nbsp;&nbsp;<sup data-toggle='tooltip' data-placement='top' data-original-title='Our researchers could not find any info' style='color: #c39; border-bottom: 1px dotted #c39;'>?</sup>"}}</a><br>
          {% if object.facebook_follower %}
            <strong>Facebook Followers</strong> <span class="theme-color">&mdash;</span> {{object.facebook_follower}}<br>
          {% endif %}
            <strong>Twitter</strong> <span class="theme-color">&mdash;</span> {% if object.twitter %}<a href="{{object.twitter}}" target="_blank">{% endif %}{{object.twitter|default:"Not Found&nbsp;&nbsp;<sup data-toggle='tooltip' data-placement='top' data-original-title='Our researchers could not find any info' style='color: #c39; border-bottom: 1px dotted #c39;'>?</sup>"}}</a><br>
          {% if object.twitter_follower %}
            <strong>Twitter Followers</strong> <span class="theme-color">&mdash;</span> {{object.twitter_follower}}<br>
          {% endif %}
            <strong>Website</strong> <span class="theme-color">&mdash;</span> <a {% if object.website %}href="http://{{object.website}}"{% endif %} target="_blank">{{object.website|default:"Not Found&nbsp;&nbsp;<sup data-toggle='tooltip' data-placement='top' data-original-title='Our researchers could not find any info' style='color: #c39; border-bottom: 1px dotted #c39;'>?</sup>"}}</a><br>
            <strong>College</strong> <span class="theme-color">&mdash;</span> {{object.college|default:"Not Found&nbsp;&nbsp;<sup data-toggle='tooltip' data-placement='top' data-original-title='Our researchers could not find any info' style='color: #c39; border-bottom: 1px dotted #c39;'>?</sup>"}}<br>
          {% if object.phone %}
            <strong>Phone Number</strong> <span class="theme-color">&mdash;</span> <a href="tel:{{object.phone}}">{{object.phone}}</a><br>
          {% endif %}
          {% if object.ethnicity.all %}
            <strong>Ethnicity</strong> <span class="theme-color">&mdash;</span> {% for eth in object.ethnicity.all %}{{eth.name}}<br>{% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
          {% if not user.is_authenticated %}
            <div class="promo promo-border promo-mini promo-center">
              <h3>Interested in More Information about {{object.name}}?</h3>
              <span>Learn about our <a href="{% url 'candidate:pricing' %}">pricing</a></span>
              <a href="#" class="button button-large button-rounded">Purchase Credits</a>
            </div>
          {% endif %}
      </div>
    </div>
  </div>
</section>
<section id="content">
  <div class="section clear-bottommargin clearfix toppadding-sm bottompadding-lg">
    <div class="container clearfix">
      <div class="heading-block center">
        <h2>Issues</h2>
      </div>
      <div class="row">
        {% for issue in object.issues.all %}
        <div class="col-sm-4 text-center">
          <div class="feature-box fbox-center fbox-border fbox-light fbox-effect">
            <div class="fbox-icon">
              <a href="#"><i class="icon-book i-alt"></i></a>
            </div>
            <h3>{{issue.issue.get_root}}</h3>
            <p>{{issue.desc|safe}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% if object.news.published %}
<section>
  <div class="toppadding-sm bottompadding-sm">
    <div class="container clearfix">
      <div class="heading-block center">
        <h2>News Stories</h2>
      </div>
      <div id="oc-posts" class="owl-carousel posts-carousel carousel-widget" data-margin="20" data-nav="true" data-pagi="false" data-items-xs="1" data-items-sm="2" data-items-md="3" data-items-lg="4">
        {% for news in object.news.published %}
        <div class="oc-item">
          <div class="ipost clearfix">
            <div class="entry-title">
              <h3><a href="{{news.link}}">{{news.title}}</a></h3>
            </div>
            {% if news.meta %}
            <ul class="entry-meta clearfix">
              <li><i class="icon-calendar3"></i>{{news.date}}</li>
            </ul>
            {% endif %}
            <div class="entry-content">
              <p>{{news.teaser|safe}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endif %}
{% if object.hq %}
<section>
  <div class="section notopborder nomargin">
    <div class="container clearfix">
      <div class="col_two_fifth topmargin-sm nobottommargin" style="min-height: 350px; overflow: hidden">
        <div id="map"></div>
      </div>
      <div class="col_three_fifth nobottommargin col_last">
        <div class="heading-block topmargin-sm bottommargin-sm">
          <h2>Campaign Headquarters</h2>
        </div>
        <p>
          {% if object.campaign_street %}
          {{object.campaign_street}}
          <br>
          {% endif %}
          {% if object.campaign_street2 %}
          {{object.campaign_street2}}
          <br>
          {% endif %}
          {% if object.campaign_city %}
          {{object.campaign_city}},
          {% endif %}
          {{object.get_state_display}}
          {{object.campaign_zip}}
        </p>
        <a href="https://www.google.com/maps/dir/''/{{object.address}},+{{object.campaign_city}},+{{object.state}}+{{object.campaign_zip}}/" class="button button-3d button-large">Get Directions</a>
      </div>
    </div>
  </div>
</section>
{% endif %}
{% endblock %}
{% block extra_js %}
{% if object.map %}
<script async defer>
function initMap() {
  var uluru = {lat: {{object.campaign_lat}}, lng: {{object.campaign_long}}};
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 17,
    center: uluru,
    scrollwheel: false,
    draggable: false,
  });
  var marker = new google.maps.Marker({
    position: uluru,
    map: map
  });
}
</script>
{% endif %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9Zc2wxmbSZBpZBFumvWofafJIbQRScQw&callback=initMap">
</script>
{% endblock %}