<section id="content toppadding-sm">
  <div class="content-wrap">
    <div class="container clearfix">
      <!-- Post Content
                    ============================================= -->
      <div class="postcontent nobottommargin col_last clearfix" >
        <form method="get" action="#search" id="search_form">
            <div class="row">
                {% for result in page_obj.object_list %}
                         <article class="col-sm-6 col-md-4 col-lg-3 pf-media pf-icons">
                            <div class="portfolio-image">
                                <a href="{{result.object.get_absolute_url}}">
                                    <img src="{{result.object.image_url}}" alt="{{result.object.name}} Headshot">
                                </a>
                            </div>
                            <div class="portfolio-desc">
                              <h3><a href="{{result.object.get_absolute_url}}">{{result.object.first_name}} {{result.object.last_name}}</a></h3>
                              <p>{% if result.object.race %}{{result.object.race.race_type}}<br/>{% endif %}{% if result.object.race %}{{result.object.race.title}}{% else %}{{result.object.get_state_display}}{% endif %}
                              </p>
                            </div>
                          </article>
                {% empty %}
                  <div class="col-sm-12">
                    <p>No results found.</p>
                  </div>
                {% endfor %}

                {% if page_obj.has_previous or page_obj.has_next %}
                    <div class="col-sm-12">
                        {% if page_obj.has_previous %}<a href="/search?q={{ query }}&amp;page={{ page_obj.previous_page_number }}{% if state %}{% for st in state %}&state={{st}}{% endfor %}{% endif %}{% if party %}{% for st in party %}&party={{st}}{% endfor %}{% endif %}{% if college %}{% for st in college %}&college={{st}}{% endfor %}{% endif %}{% if issues %}{% for st in issues %}&issues={{st}}{% endfor %}{% endif %}{% for st in race %}&race={{st}}{% endfor %}{% for st in race_type %}&race_type={{st}}{% endfor %}">{% endif %}&laquo; Previous{% if page_obj.has_previous %}</a>{% endif %}
                        |
                        {% if page_obj.has_next %}<a href="/search?q={{ query }}&amp;page={{ page_obj.next_page_number }}{% if state %}{% for st in state %}&state={{st}}{% endfor %}{% endif %}{% if party %}{% for st in party %}&party={{st}}{% endfor %}{% endif %}{% if college %}{% for st in college %}&college={{st}}{% endfor %}{% endif %}{% if issues %}{% for st in issues %}&issues={{st}}{% endfor %}{% endif %}{% for st in race %}&race={{st}}{% endfor %}{% for st in race_type %}&race_type={{st}}{% endfor %}">{% endif %}Next &raquo;{% if page_obj.has_next %}</a>{% endif %}
                    </div>
                {% endif %}
            </div>
      </div>
      <!-- .postcontent end -->
      <!-- Sidebar
                    ============================================= -->
      <div class="sidebar nobottommargin clearfix">
        <div class="sidebar-widgets-wrap">
          <div class="widget subscribe-widget clearfix">
            <div class="theme">
                <div class="bottompadding-sm">
                  <div class="fancy-title title-border">
                        <h4>Search Candidates</h4>
                      </div>
                  <input type="search" name="q" value="{{query}}" class="form-control theme"  placeholder="Search" id="id_q">
                </div>
                <div class="bottompadding-sm">
                      <div class="fancy-title title-border">
                        <h4>Political Party</h4>
                      </div>
                      {{form.party}}
                </div>
                <div class="bottompadding-sm">
                      <div class="fancy-title title-border">
                        <h4>Issues</h4>
                      </div>
                      {{form.issues}}
                </div>
                <div class="bottompadding-sm">
                      <div class="fancy-title title-border">
                        <h4>Education</h4>
                      </div>
                      {{form.college}}
                </div>
                <div class="bottompadding-sm">
                      <div class="fancy-title title-border">
                        <h4>State</h4>
                      </div>
                      {{form.state}}
                </div>
                <div class="bottompadding-sm">
                      <div class="fancy-title title-border">
                        <h4>Race Type</h4>
                      </div>
                      {{form.race_type}}
                </div>
                <div class="bottompadding-sm">
                      <div class="fancy-title title-border">
                        <h4>Race</h4>
                      </div>
                      {{form.race}}
                </div>
                <button type="submit" class="button button-3d button-large">Search</button>
            </div>
          </div>
        </div>
      </div>
      <!-- .sidebar end -->
    </form>
    </div>
  </div>
</section>