{% extends 'base.html' %}

{% block content %}
<section id="page-title">
  <div class="container clearfix">
    <h1>Search</h1>
    <span>Use this search to find out more about our candidates!</span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Search</li>
    </ol>
  </div>
</section>

{% include 'search/search_section.html' %}
{% endblock %}
{% block extra_js %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript">
$('#id_party').select2({
    placeholder: 'Select a political party',
    width: '100%',
});
$('#id_college').select2({
    placeholder: 'Select an institution',
    width: '100%',
});
$('#id_state').select2({
    placeholder: 'Select a state',
    width: '100%',
});
$('#id_issues').select2({
    placeholder: 'Select an issue',
    width: '100%',
});
$('#id_race').select2({
    placeholder: 'Select a race',
    width: '100%',
});
$('#id_race_type').select2({
    placeholder: 'Select a race type',
    width: '100%',
});
</script>
{% endblock %}